

body {
	background-color: black;
}

.main {
	background-color: white;
	margin-top: 100px;
	padding-left: 100px;
	min-width: 1200px;
	height: 500px;
}

.ryu {
	float:left;
}

.ryu-still, .ryu-ready, .ryu-throwing, .ryu-cool {
	height:494px;
	width: 659px;
}

.ryu-ready, .ryu-throwing, .ryu-cool {
	display: none;
}

.ryu-ready {
	background-image: url("../images/ryu-ready-position.gif");
}

.ryu-still {
	background-image: url("../images/ryu-standing-still.png");
}

.ryu-throwing {
	background-image: url("../images/ryu-throwing-hadouken.png");
}

.ryu-cool {
	background-image: url("../images/ryu-cool.gif");
}

.hadouken, .ryu-ready, .ryu-still, .ryu-throwing, .ryu-cool {
	background-repeat: no-repeat;
}

.hadouken {
	background-image: url("../images/hadouken.gif");
	width: 156px;
	height: 90px;
	display: none;
	position: relative;
	top: 167px;
	left: -212px;
	float: left;
}

#text {
	float:right;
	border: 10px red solid;
	line-height: 40px;
	font-family: Verdana,Arial;
	font-size: 25px;
	color:black;
	text-align: center;
	margin-right: 125px;
	margin-top: 100px;
}

